@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

/* -------colors:-------

https://htmlcolorcodes.com/color-picker/

-------analogous-------
#f184bf
#f18488
#f1b684
#f1ed84
#bff184
#88f184

-------neutral-------
#f184bf
#f184a4
#f18488
#f19b84
#f1b684
#f1d184

*/

* {
    box-sizing: border-box;
}

hr {
    border: 3px solid #cc5c6a;
}

body {
    font-family: "IBM Plex Mono", monospace;
    margin: 10;
    background: radial-gradient(circle, rgba(241,155,132,1) 0%, rgba(241,132,136,1) 44%, rgba(241,132,164,1) 78%);
    color: #FA7D75;
}

p {
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    padding: 8px;
    background-color: #B0FA75;
    color: #FA7D75;
}

p.author_and_date {
    font-family: "IBM Plex Mono", monospace;
    font-style: italic;
    margin: 0;
    padding: 8px;
    background-color: #B0FA75;
    color: #FA7D75;
}

div {
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    padding: 8px;
    color: #ff7385;
    text-shadow: 1px 1px #cc5c6a;
}

div.special {
    width: 500px;
    border-style: dashed;
    background: radial-gradient(circle, rgba(191,241,132,1) 0%, rgba(137,241,132,1) 27%, rgba(132,241,209,1) 88%);
}

label.requiredField {
    color: #B0FA75;
}

a {
    color: inherit;
    font-style: italic;
}


h1,
h2,
h3 {
    font-family: "IBM Plex Mono", monospace;
    color: #F184BF;
    background-color: #F5CBA8;
    text-shadow: 2px 2px #ec56a7;
}

button,
.btn {
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: #F5CBA8;
    border: 1px solid #fa75b0;
    color: #F184BF;
    border-radius: 4px;
    text-decoration: none;
}

button:hover,
.btn:hover {
    background-color: #fdc7df;
    border-color: #fdc7df;
}

#main-header {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

#main-header h1 {
    font-size: 1.5rem;
}

#main-logo {
    font-size: 3rem;
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    color: #75FA7C;
    text-shadow: 1px 1px 	#75b0fa;
    font-weight: bold;
}
