@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    background-color: #F1B684;
    color: #FA7D75;
}

p {
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    padding: 8px;
    background-color: #B0FA75;
    color: #FA7D75;
}

div {
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    padding: 8px;
    color: #ff7385;
    text-shadow: 1px 1px #cc5c6a;
}

a {
    color: inherit;
    font-style: italic;
}


h1,
h2,
h3 {
    font-family: "IBM Plex Mono", monospace;
    color: #F184BF;
    background-color: #F5CBA8;
    text-shadow: 2px 2px #ec56a7;
}

button,
.btn {
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: #fa75b0;
    border: 1px solid #fa75b0;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

button:hover,
.btn:hover {
    background-color: #fdc7df;
    border-color: #fdc7df;
}

#main-header {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

#main-header h1 {
    font-size: 1.5rem;
}

#main-logo {
    font-size: 3rem;
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    color: #75FA7C;
    text-shadow: 1px 1px 	#75b0fa;
    font-weight: bold;
}
