@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap");

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: dashed;
    background: radial-gradient(circle, rgba(241,132,164,1) 0%, rgba(241,132,136,1) 44%, rgba(241,155,132,1) 78%);
}

li.nav-item {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #BFF184;
}


/* Change the link color of the active tab. does not work yet */

li a:active {
    background-color: #F1B684;
}
