{% extends "blog/structure.html" %}

    <head>
        <meta charset="UTF-8">
        {% block pagetitle %}{{ blog.title }}{% endblock %}
    </head>
{% block content %}
    <body>
        {% load markdownify %}
        <h1>{{ blog.title }}</h1>
        <p class="author_and_date">Author: {{ blog.author.username }}</p>
        <p>{{ blog.body|markdownify }}</p>
        <p class="author_and_date">Submitted on {{ blog.date }}</p>
        <br>
        <br>
        {% comment %} <p><a href="/blog/{ % {{ blog.id }} - 1% }/"> {{ Previous blog post }} </a></p>
        <p><a href="/blog/{ % {{ blog.id }} + 1% }/"> {{ Next blog post }} </a></p> {% endcomment %}

    </body>

{% endblock content %}