{% load static %}

<nav>
    <div>
        <ul>

            {% if user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link" href="#">Welcome, {{user.username}}!</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link-cat" href="/cats">Cat Facts!</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/add_post">Add Post</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/add_run">Add Run</a>
            </li>

        {% else %}

            <li class="nav-item">
                <a class="nav-link" href="#">Welcome!</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link-cat" href="/cats">Cat Facts!</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>

        {% endif %}


        </ul>
    </div>
</nav>